.stores-table{
 margin-top: 10%;
 max-height: 400px;
 overflow-y: scroll;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 15px;
}
.stores-headings{
    position: fixed;
    margin-top: -24px;
}
td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 5px 0px;
    width: 117px;
}
th{
    padding: 0px 5px;
    overflow: auto;
}
table a{
    color: rgb(67, 127, 196);
    text-decoration: none;
    
}
tr:nth-child(even) {
    background-color: #dddddd;
}
._header{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 2px 0;
    width: 110px;
}
.table_content{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 117px;
}